.search {
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.field {
  background-color: rgb(200,200,200);
  height: 33px;
  transition: width 0.2s ease;
  width: 180px;
  outline: none;
  border: none;
  border-radius: 3px, 3px, 3px, 0px;
  padding: 6px, 10px, 6px, 0px;
}

.field::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.field:focus {
  width: 200px;
  background-color: #fff;

}

.glass {
  height: 33px;
  background-color: rgb(200,200,200);
  width: 33px;
  border-radius: 3px, 0px, 3px, 3px;
  border: none;
  margin: none;
}

.links {
  position: relative;
  height: 100%;
  width: 6rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 0px 2px 0px 5px;
}

.links a {
  color: #fff;
}

.links button {
  background-color: inherit;
  color: #fff;
  box-shadow: none;
  margin: 0px 0px 0px 5px;
  padding: 0;
  border: none;
  height: 100%;
  width: 100%;
}

.uploadModal, .logoutModal {
  display: none;
}

.uploadLink {
  position: relative;
}

.uploadLink:hover + .uploadModal {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 7rem;
  padding: .25rem;
  font-size: 13px;
  font-weight: 600;
  background-color: rgb(21,21,23);
  border: solid 1px #fff;
  color: #fff;
  top: 53px;
  right: 15px;
}

.uploadLink:hover + .uploadModal:before,
.logout:hover + .logoutModal:before {
  content: "";
  transform: rotate(45deg);
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: rgb(21,21,23);
  border-left: 1px solid #fff;
  border-right: 1px solid transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid transparent;
  right: 50%;
  top: -7px;
}

.logout:hover + .logoutModal {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 7rem;
  padding: .25rem;
  font-size: 13px;
  font-weight: 600;
  background-color: rgb(21,21,23);
  border: solid 1px #fff;
  color: #fff;
  top: 53px;
  right: -34px;
}

.logout:hover,
.uploadLink:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, .8);
}
