.search {
  height: inherit;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.field {
  background-color: rgb(200,200,200);
  height: 33px;
  transition: width 0.2s ease;
  width: 180px;
  outline: none;
  border: none;
  border-radius: 3px, 3px, 3px, 0px;
  padding: 6px, 10px, 6px, 0px;
}

.field::placeholder {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.field:focus {
  width: 200px;
  background-color: #fff;

}

.glass {
  height: 33px;
  background-color: rgb(200,200,200);
  width: 33px;
  border-radius: 3px, 0px, 3px, 3px;
  border: none;
  margin: none;
}

.links {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  margin: 0px 2px 0px 5px;
}

.links a {
  color: #fff;
}

.links button {
  background-color: inherit;
  color: #fff;
  box-shadow: none;
  margin: 0px 0px 0px 5px;
  padding: 0;
  border: none;
  height: 100%;
  width: 100%;
}
