.nav {
  background-color: rgba(21,21,23,.95);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.wrapper {

  height: inherit;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.left, .right {

  height: 100%;
  width: auto;
  display: flex;
}
