.container {
  width: 100%;
  height: 130px;
  display: flex;
  justify-content: center;
}

.center {
  width: 80%;
  height: inherit;
  display: flex;
  justify-content: flex-end;
}

.icon {
  background-color: inherit;
  height: 33px;
  width: 33px;
}

.pen {
  color: #fff;
}
